{
  "env": {
    "test": {
      "presets": [
        "@ava/stage-4"
      ],
      "plugins": [
        "istanbul"
      ]
    },
    "es-modules": {
      "presets": [
        ["es2015", {
          "modules": false
        }]
      ]
    },
    "node4": {
      "presets": [
        ["env", {
          "debug": true,
          "targets": {
            "node": 4
          }
        }]
      ],
      "plugins": [
        "add-module-exports"
      ]
    },
    "node6": {
      "presets": [
        ["env", {
          "debug": true,
          "targets": {
            "node": 6
          }
        }]
      ],
      "plugins": [
        "add-module-exports"
      ]
    }
  }
}
